<section class="postingnew container">
  <div class="row">
    <div class="text-center col-sm-4 col-sm-offset-4">
      <%= form_for(@picture, url: choose_new_edit) do |f| %>
        <% if @picture.errors.any? %>
        <div id="errors_explanation">
          <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
          <ul>
            <% @picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

      <div class="field form-inline">
        <%= f.label :title, class: "sr-only" %>
        <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
      </div>
      <div class="field form-inline">
        <%= f.label :comment, class: "sr-only" %>
        <%= f.text_field :title, placeholder: "コメント", class: "form-control" %>
      </div>
      <div class="field form-inline">
        <%= f.file_field :photos_url %>
        <%= f.hidden_field :photos_url_cache %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-sm-4 col-sm-offset-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</section>
