
  <div class="row">
    <div class="text-center col-sm-4 col-sm-offset-4">
      <%= form_for(@picture, url: choose_new_edit) do |f| %>
        <% if @picture.errors.any? %>
        <div id="errors_explanation">
          <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
          <ul>
            <% @picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="field form-inline">
          <%= f.label :title, class: "sr-only" %>
          <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
        </div>
        <div class="field form-inline">
          <%= f.label :comment, class: "sr-only" %>
          <%= f.text_field :comment, placeholder: "コメント", class: "form-control" %>
        </div>
        <div class="field form-inline">
          <%= f.hidden_field :photos_url_cache %>
          <%= f.file_field :photos_url, class: " form-control" %>
        </div>
        <div class="actions form-inline">
          <%= f.submit "Posting", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
