<section class="container" id="confirm">
  <div class="row">
    <h1 class="confirm text-center col-sm-4 col-sm-offset-4">
      <span id="postingconfirm" style="font-family:Billabong">Comfirm Posting</span>
    </h1>
  </div>

  <div class="row">
    <div class="postingcomfirm col-sm-4 col-sm-offset-4">
      <%= form_for(@picture) do |p| %>
        <%= p.hidden_field :title %>
        <%= p.hidden_field :comment %>
        <%= p.hidden_field :photos_url_cache %>
        <h3 class="text-center"><%= @picture.title %></h3><br />
        <div class="compic align-center">
        <%= image_tag(@picture.photos_url, id: "confimimg")%><br />
        </div><br />
        <%= @picture.comment%><br />
        <%= p.submit "Posting!", class: "btn btn-primary" %>
      <% end %>
    </div>

    <% form_for(@picture, url:new_picture_path, method: 'get') do |p| %>
      <%= p.hidden_field :title %>
      <%= p.hidden_field :comment %>
      <%= image_tag(p.hidden_field :photos_url) %>
      <%= p.submit "Back", name: 'back' %>
    <% end %>


  </div>
</section>
