<section class="index container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1 class="text-center"style="font-family:Billabong">Samplegram's pictures</h1>
      <h3 class="bg-info", id="noticemsg"><%= notice %></h3>
    </div>
  </div>
  <div class="row">
    <div class="newpic text-center col-sm-4 col-sm-offset-4 ">
      <%= link_to "Let's Post New Picture!", new_picture_path, class: "new-picture btn btn-link" %>
    </div>
  </div><br />
    <ul class="postings">
    <% @pictures.each do |p| %>
      <li class="row each-post">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="row">
            <div class="col-sm-1 col-sm-offset-1">
              <%= profile_img(p.user) %>
            </div>
            <div class="col-sm-2 col-offset-2">
              <%= p.user.name %>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="ul userscolumn">
            <div class="li ptitle">
              <%= p.title %>
            </div>
            <div class="li pimg">
              <%= image_tag(p.photos_url) %>
            </div>
            <div class="li pcomment">
              <%= p.comment %>
            </div>
            <div class="li buttoms">
              <%= link_to 'Edit', edit_picture_path(p), class: "btn btn-default" %>
              <%= link_to 'Delete', p, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
        <% end %>

      </li>
    </ul>
</section>
