<section class="index container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1 class="text-center"style="font-family:Billabong">Samplegram's pictures</h1>
      <h3 class="bg-info text-center", id="noticemsg"><%= notice %></h3>
    </div>
  </div>
  <div class="row">
    <div class="newpic text-center col-sm-4 col-sm-offset-4 ">
      <%= link_to "Let's Post New Picture!", new_picture_path, class: "new-picture btn btn-default" %>
    </div>
  </div><br />
    <% @pictures.each do |p| %>
    <div class="each-posting col-sm-3 col-md-moffset-1">
      <div class="lists">
        <div class="username usertitle">
          <%= profile_img(p.user) %>
          <%= p.user.name %><br />
          <div class="ptitle">
            <%= p.title %>
          </div>
        </div>
        <div class="pimg">
          <%= link_to image_tag(p.photos_url, class: "tpimg center-block"), picture_path(p), class: "anker" %>
        </div>
        <div class="pcomment">
          <%= p.comment %>
        </div>
        <div class="li buttoms">
          <%= link_to 'Edit', edit_picture_path(p), class: "btn btn-default" %>
          <%= link_to 'Delete', p, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
          <br />
        </div>
      </div>
    </div>
    <% end %>

</section>
