<section class="showpage container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class="bg-success text-center"><%= notice %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="lists">
        <div class="username usertitle">
          <%= profile_img(@picture.user) %>
          <%= @picture.user.name %><br />
          <div class="ptitle">
            <%= @picture.title %>
          </div>
        </div>
        <div class="pimg">
          <%= image_tag(@picture.photos_url, class: "showimg center-block") %>
        </div>
        <div class="pcomment">
          <%= @picture.comment %>
        </div><br />
        <div class="buttomc center-block">
          <%= link_to 'Index', pictures_path, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_picture_path(@picture), class: "btn btn-default" %>
          <%= link_to 'Delete', @picture, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</section>
